.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 800px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    
   
}




@media (min-width: 576px){
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

}