.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 850px;
  --bs-modal-padding: 1.2rem;
  --bs-modal-margin: 0.5rem;
}
.addNewSongContainer {
  margin-top: 30px;
  padding: 20px;
}
.button {
  width: 120px;
  margin-right: 2px;
}
.selectBox {
  min-width: 300px;
  margin-left: 108px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
}
