.navbar{
    height: 80px;
}
.bg-light{
    background-color: lightgray !important;
}
.container-fluid{
    flex-wrap: nowrap !important;
}
.searchContainer{
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: white;

}
.searchBox{
    outline: none !important;
    border: none !important;
}